<nav class="main-menu">
	<ul>
		<li><a href="./{{up}}" {{#eq page.link ''}}class="active"{{/eq}}>Introduction</a></li>
		{{#top}}
			{{#each children}}
				<li><a href="{{up}}{{link}}" {{#eq link ../../page.link }}class="active"{{/eq}}>{{name}}</a></li>
			{{/each}}
		{{/top}}
	</ul>
</nav>
